# برای docker compose روی سرور
DOCKERHUB_USERNAME=your-dockerhub-username
IMAGE_TAG=latest
FRONTEND_PORT=4000
BACKEND_PORT=5000

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hokmdb

JWT_SECRET=یک-رمز-طولانی-و-تصادفی
