<ax-form class="h-full!" #fromValid [inUserInteractionActive]="false" [labelMode]="'floating'" [messageStyle]="'float'" [updateOn]="'change'">
  <div class="flex h-full w-full flex-col items-center justify-center rounded-xl p-4">
    <div class="flex w-full justify-center">
      <img src="/assets/images/logo_200x300.webp" alt="logo" class="h-28 mb-4 w-28" />
    </div>
    <!-- <h1 class="text-2xl font-bold text-center text-gray-800 mb-2">مدیریت بازی حکم</h1> -->
    <p class="mb-6 text-center text-sm">ثبت‌نام یا ورود برای ساخت اتاق و ثبت امتیاز</p>

    <div class="flex w-full flex-col gap-6">
      <ax-tabs look="default" color="primary" [fitParent]="true" (onActiveTabChanged)="setMode($event)" #tab>
        <ax-tab-item text="ورود" key="login" [active]="true"> </ax-tab-item>
        <ax-tab-item text="ثبت‌نام" key="register"> </ax-tab-item>
      </ax-tabs>

      <!-- @if (error()) {
      <div class="mb-4 rounded-lg bg-red-100 p-3 text-center text-sm text-red-700">{{ error() }}</div>
      } -->

      <ax-form-field>
        <ax-label>نام کاربری (انگلیسی)</ax-label>
        <ax-text-box [(ngModel)]="username" [look]="'solid'" placeholder="John Doe" dir="ltr">
          <ax-validation-rule rule="required"> </ax-validation-rule>
        </ax-text-box>
      </ax-form-field>

      @if (mode() === 'register') {
      <ax-form-field>
        <ax-label>نام نمایشی</ax-label>
        <ax-text-box [(ngModel)]="displayName" [look]="'solid'" placeholder="John Doe">
          <ax-validation-rule rule="required"> </ax-validation-rule>
        </ax-text-box>
      </ax-form-field>
      }

      <ax-form-field>
        <ax-label>رمز عبور</ax-label>
        <ax-password-box [(ngModel)]="password" [look]="'solid'" class="text-left">
          <ax-validation-rule rule="required"> </ax-validation-rule>
        </ax-password-box>
      </ax-form-field>

      <ax-button
        type="submit"
        (onClick)="submit()"
        [disabled]="loading() || !username.trim() || !password"
        [text]="loading() ? 'لطفاً صبر کنید...' : (mode() === 'login' ? 'ورود' : 'ثبت‌نام')"
        look="solid"
        color="primary"
        class="ax-lg"
      >
        @if (loading()) {
        <ax-loading> </ax-loading>
        }
      </ax-button>
    </div>
  </div>
</ax-form>
