:root {
  --ax-sys-icon-size: 100%;
  --ax-sys-icon-weight: 400;
  --ax-sys-size-base: 2.5rem;
  --ax-overlay-full-width: 93;
  --ax-sys-icon-width: inherit;
  --ax-sys-icon-height: inherit;
  --ax-sys-body-font-size: 1rem;
  --ax-sys-border-radius: 0.5rem;
  --ax-sys-transition-duration: 150ms;
  --ax-sys-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --ax-sys-scroller-size: 5px;
  --ax-sys-scroller-size-radius: 3px;
  --ax-sys-scroller-track-color: rgba(var(--ax-sys-color-light-surface));
  --ax-sys-scroller-thumb-color: rgba(var(--ax-sys-color-darkest-surface));

  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 10, 10, 10;
  --ax-sys-color-border-lightest-surface: 233, 233, 233;

  --ax-sys-color-lighter-surface: 250, 250, 250;
  --ax-sys-color-on-lighter-surface: 10, 10, 10;
  --ax-sys-color-border-lighter-surface: 228, 228, 228;

  --ax-sys-color-light-surface: 245, 245, 245;
  --ax-sys-color-on-light-surface: 10, 10, 10;
  --ax-sys-color-border-light-surface: 223, 223, 223;

  --ax-sys-color-surface: 240, 240, 241;
  --ax-sys-color-on-surface: 10, 10, 10;
  --ax-sys-color-border-surface: 218, 218, 218;

  --ax-sys-color-dark-surface: 235, 235, 236;
  --ax-sys-color-on-dark-surface: 10, 10, 10;
  --ax-sys-color-border-dark-surface: 213, 213, 213;

  --ax-sys-color-darker-surface: 230, 230, 231;
  --ax-sys-color-on-darker-surface: 10, 10, 10;
  --ax-sys-color-border-darker-surface: 208, 208, 208;

  --ax-sys-color-darkest-surface: 224, 224, 225;
  --ax-sys-color-on-darkest-surface: 10, 10, 10;
  --ax-sys-color-border-darkest-surface: 202, 202, 202;

  --ax-sys-color-primary-50: 192, 255, 248;
  --ax-sys-color-primary-100: 135, 255, 238;
  --ax-sys-color-primary-200: 118, 244, 222;
  --ax-sys-color-primary-300: 89, 218, 197;
  --ax-sys-color-primary-400: 49, 186, 166;
  --ax-sys-color-primary-500: 0, 166, 147;
  --ax-sys-color-primary-600: 0, 146, 128;
  --ax-sys-color-primary-700: 0, 122, 106;
  --ax-sys-color-primary-800: 20, 101, 87;
  --ax-sys-color-primary-900: 40, 83, 74;
  --ax-sys-color-primary-950: 24, 42, 37;

  --ax-sys-color-secondary-50: 207, 241, 252;
  --ax-sys-color-secondary-100: 182, 216, 226;
  --ax-sys-color-secondary-200: 148, 181, 191;
  --ax-sys-color-secondary-300: 98, 129, 138;
  --ax-sys-color-secondary-400: 38, 67, 76;
  --ax-sys-color-secondary-500: 2, 32, 40;
  --ax-sys-color-secondary-600: 5, 35, 43;
  --ax-sys-color-secondary-700: 8, 39, 47;
  --ax-sys-color-secondary-800: 15, 42, 50;
  --ax-sys-color-secondary-900: 26, 44, 49;
  --ax-sys-color-secondary-950: 37, 51, 55;

  --ax-sys-color-success-50: 207, 255, 232;
  --ax-sys-color-success-100: 162, 255, 211;
  --ax-sys-color-success-200: 111, 255, 188;
  --ax-sys-color-success-300: 86, 233, 167;
  --ax-sys-color-success-400: 48, 206, 141;
  --ax-sys-color-success-500: 1, 188, 125;
  --ax-sys-color-success-600: 0, 165, 104;
  --ax-sys-color-success-700: 0, 136, 81;
  --ax-sys-color-success-800: 22, 110, 67;
  --ax-sys-color-success-900: 43, 89, 61;
  --ax-sys-color-success-950: 23, 41, 28;

  --ax-sys-color-warning-50: 255, 244, 220;
  --ax-sys-color-warning-100: 255, 234, 201;
  --ax-sys-color-warning-200: 255, 221, 174;
  --ax-sys-color-warning-300: 255, 198, 128;
  --ax-sys-color-warning-400: 255, 168, 40;
  --ax-sys-color-warning-500: 253, 154, 1;
  --ax-sys-color-warning-600: 224, 127, 0;
  --ax-sys-color-warning-700: 181, 100, 0;
  --ax-sys-color-warning-800: 144, 81, 20;
  --ax-sys-color-warning-900: 110, 71, 40;
  --ax-sys-color-warning-950: 44, 28, 18;

  --ax-sys-color-danger-50: 255, 233, 227;
  --ax-sys-color-danger-100: 255, 212, 202;
  --ax-sys-color-danger-200: 255, 180, 166;
  --ax-sys-color-danger-300: 255, 123, 104;
  --ax-sys-color-danger-400: 230, 65, 49;
  --ax-sys-color-danger-500: 200, 29, 17;
  --ax-sys-color-danger-600: 185, 0, 0;
  --ax-sys-color-danger-700: 165, 0, 0;
  --ax-sys-color-danger-800: 140, 19, 12;
  --ax-sys-color-danger-900: 111, 39, 31;
  --ax-sys-color-danger-950: 67, 30, 25;

  --ax-sys-color-surface-50: 255, 254, 249;
  --ax-sys-color-surface-100: 255, 253, 249;
  --ax-sys-color-surface-200: 255, 253, 248;
  --ax-sys-color-surface-300: 254, 251, 246;
  --ax-sys-color-surface-400: 252, 249, 244;
  --ax-sys-color-surface-500: 251, 248, 243;
  --ax-sys-color-surface-600: 211, 208, 203;
  --ax-sys-color-surface-700: 163, 160, 156;
  --ax-sys-color-surface-800: 126, 124, 119;
  --ax-sys-color-surface-900: 98, 96, 93;
  --ax-sys-color-surface-950: 27, 26, 24;

  --ax-sys-color-accent-50: 206, 255, 255;
  --ax-sys-color-accent-100: 176, 255, 255;
  --ax-sys-color-accent-200: 139, 250, 255;
  --ax-sys-color-accent-300: 122, 233, 250;
  --ax-sys-color-accent-400: 99, 212, 229;
  --ax-sys-color-accent-500: 84, 198, 215;
  --ax-sys-color-accent-600: 51, 171, 188;
  --ax-sys-color-accent-700: 0, 139, 155;
  --ax-sys-color-accent-800: 25, 113, 127;
  --ax-sys-color-accent-900: 45, 90, 99;
  --ax-sys-color-accent-950: 21, 37, 41;

  --ax-sys-color-accent2-50: 192, 253, 255;
  --ax-sys-color-accent2-100: 157, 239, 255;
  --ax-sys-color-accent2-200: 133, 215, 236;
  --ax-sys-color-accent2-300: 97, 178, 199;
  --ax-sys-color-accent2-400: 48, 134, 153;
  --ax-sys-color-accent2-500: 3, 106, 125;
  --ax-sys-color-accent2-600: 0, 96, 115;
  --ax-sys-color-accent2-700: 0, 85, 103;
  --ax-sys-color-accent2-800: 13, 75, 92;
  --ax-sys-color-accent2-900: 32, 66, 78;
  --ax-sys-color-accent2-950: 27, 46, 52;

  --ax-sys-color-accent3-50: 255, 233, 227;
  --ax-sys-color-accent3-100: 255, 212, 202;
  --ax-sys-color-accent3-200: 255, 180, 166;
  --ax-sys-color-accent3-300: 255, 123, 104;
  --ax-sys-color-accent3-400: 230, 65, 49;
  --ax-sys-color-accent3-500: 200, 29, 17;
  --ax-sys-color-accent3-600: 185, 0, 0;
  --ax-sys-color-accent3-700: 165, 0, 0;
  --ax-sys-color-accent3-800: 140, 19, 12;
  --ax-sys-color-accent3-900: 111, 39, 31;
  --ax-sys-color-accent3-950: 67, 30, 25;

  --ax-sys-color-primary-lightest-surface: 183, 222, 237;
  --ax-sys-color-on-primary-lightest-surface: 14, 51, 63;
  --ax-sys-color-border-primary-lightest-surface: 154, 209, 230;

  --ax-sys-color-primary-lighter-surface: 153, 191, 205;
  --ax-sys-color-on-primary-lighter-surface: 15, 51, 62;
  --ax-sys-color-border-primary-lighter-surface: 129, 176, 193;

  --ax-sys-color-primary-light-surface: 108, 144, 158;
  --ax-sys-color-on-primary-light-surface: 231, 255, 255;
  --ax-sys-color-border-primary-light-surface: 92, 126, 139;

  --ax-sys-color-primary-surface: 20, 55, 67;
  --ax-sys-color-on-primary-surface: 231, 255, 255;
  --ax-sys-color-border-primary-surface: 12, 32, 40;

  --ax-sys-color-primary-dark-surface: 19, 54, 66;
  --ax-sys-color-on-primary-dark-surface: 231, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 11, 31, 38;

  --ax-sys-color-primary-darker-surface: 18, 53, 65;
  --ax-sys-color-on-primary-darker-surface: 231, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 10, 30, 37;

  --ax-sys-color-primary-darkest-surface: 21, 52, 63;
  --ax-sys-color-on-primary-darkest-surface: 231, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 12, 30, 36;

  --ax-sys-color-secondary-lightest-surface: 255, 230, 177;
  --ax-sys-color-on-secondary-lightest-surface: 62, 42, 0;
  --ax-sys-color-border-secondary-lightest-surface: 255, 219, 141;

  --ax-sys-color-secondary-lighter-surface: 255, 212, 131;
  --ax-sys-color-on-secondary-lighter-surface: 65, 40, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 200, 95;

  --ax-sys-color-secondary-light-surface: 250, 188, 97;
  --ax-sys-color-on-secondary-light-surface: 69, 38, 0;
  --ax-sys-color-border-secondary-light-surface: 249, 173, 62;

  --ax-sys-color-secondary-surface: 203, 144, 47;
  --ax-sys-color-on-secondary-surface: 255, 250, 224;
  --ax-sys-color-border-secondary-surface: 174, 123, 40;

  --ax-sys-color-secondary-dark-surface: 180, 122, 9;
  --ax-sys-color-on-secondary-dark-surface: 255, 250, 225;
  --ax-sys-color-border-secondary-dark-surface: 146, 99, 7;

  --ax-sys-color-secondary-darker-surface: 152, 96, 0;
  --ax-sys-color-on-secondary-darker-surface: 255, 250, 228;
  --ax-sys-color-border-secondary-darker-surface: 116, 73, 0;

  --ax-sys-color-secondary-darkest-surface: 124, 79, 18;
  --ax-sys-color-on-secondary-darkest-surface: 255, 250, 229;
  --ax-sys-color-border-secondary-darkest-surface: 93, 59, 13;

  --ax-sys-color-success-lightest-surface: 162, 255, 211;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 32;
  --ax-sys-color-border-success-lightest-surface: 126, 255, 194;

  --ax-sys-color-success-lighter-surface: 111, 255, 188;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 29;
  --ax-sys-color-border-success-lighter-surface: 75, 255, 171;

  --ax-sys-color-success-light-surface: 86, 233, 167;
  --ax-sys-color-on-success-light-surface: 0, 59, 29;
  --ax-sys-color-border-success-light-surface: 54, 229, 151;

  --ax-sys-color-success-surface: 1, 188, 125;
  --ax-sys-color-on-success-surface: 231, 255, 244;
  --ax-sys-color-border-success-surface: 1, 152, 101;

  --ax-sys-color-success-dark-surface: 0, 165, 104;
  --ax-sys-color-on-success-dark-surface: 231, 255, 243;
  --ax-sys-color-border-success-dark-surface: 0, 129, 81;

  --ax-sys-color-success-darker-surface: 0, 136, 81;
  --ax-sys-color-on-success-darker-surface: 232, 255, 242;
  --ax-sys-color-border-success-darker-surface: 0, 100, 60;

  --ax-sys-color-success-darkest-surface: 22, 110, 67;
  --ax-sys-color-on-success-darkest-surface: 232, 255, 242;
  --ax-sys-color-border-success-darkest-surface: 16, 80, 49;

  --ax-sys-color-warning-lightest-surface: 255, 234, 201;
  --ax-sys-color-on-warning-lightest-surface: 59, 43, 14;
  --ax-sys-color-border-warning-lightest-surface: 255, 220, 165;

  --ax-sys-color-warning-lighter-surface: 255, 221, 174;
  --ax-sys-color-on-warning-lighter-surface: 66, 39, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 206, 138;

  --ax-sys-color-warning-light-surface: 255, 198, 128;
  --ax-sys-color-on-warning-light-surface: 71, 36, 0;
  --ax-sys-color-border-warning-light-surface: 255, 182, 92;

  --ax-sys-color-warning-surface: 253, 154, 1;
  --ax-sys-color-on-warning-surface: 255, 250, 231;
  --ax-sys-color-border-warning-surface: 217, 132, 1;

  --ax-sys-color-warning-dark-surface: 224, 127, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 249, 233;
  --ax-sys-color-border-warning-dark-surface: 188, 107, 0;

  --ax-sys-color-warning-darker-surface: 181, 100, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 249, 234;
  --ax-sys-color-border-warning-darker-surface: 145, 80, 0;

  --ax-sys-color-warning-darkest-surface: 144, 81, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 249, 234;
  --ax-sys-color-border-warning-darkest-surface: 113, 63, 16;

  --ax-sys-color-danger-lightest-surface: 255, 212, 202;
  --ax-sys-color-on-danger-lightest-surface: 68, 36, 29;
  --ax-sys-color-border-danger-lightest-surface: 255, 183, 166;

  --ax-sys-color-danger-lighter-surface: 255, 180, 166;
  --ax-sys-color-on-danger-lighter-surface: 82, 23, 14;
  --ax-sys-color-border-danger-lighter-surface: 255, 150, 130;

  --ax-sys-color-danger-light-surface: 255, 123, 104;
  --ax-sys-color-on-danger-light-surface: 255, 248, 244;
  --ax-sys-color-border-danger-light-surface: 255, 92, 68;

  --ax-sys-color-danger-surface: 200, 29, 17;
  --ax-sys-color-on-danger-surface: 255, 248, 244;
  --ax-sys-color-border-danger-surface: 167, 24, 14;

  --ax-sys-color-danger-dark-surface: 185, 0, 0;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 149, 0, 0;

  --ax-sys-color-danger-darker-surface: 165, 0, 0;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 129, 0, 0;

  --ax-sys-color-danger-darkest-surface: 140, 19, 12;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 107, 15, 9;

  --ax-sys-color-surface-lightest-surface: 255, 253, 249;
  --ax-sys-color-on-surface-lightest-surface: 47, 46, 43;
  --ax-sys-color-border-surface-lightest-surface: 255, 241, 213;

  --ax-sys-color-surface-lighter-surface: 255, 253, 248;
  --ax-sys-color-on-surface-lighter-surface: 47, 46, 42;
  --ax-sys-color-border-surface-lighter-surface: 255, 243, 212;

  --ax-sys-color-surface-light-surface: 254, 251, 246;
  --ax-sys-color-on-surface-light-surface: 48, 45, 42;
  --ax-sys-color-border-surface-light-surface: 250, 237, 214;

  --ax-sys-color-surface-surface: 251, 248, 243;
  --ax-sys-color-on-surface-surface: 48, 45, 42;
  --ax-sys-color-border-surface-surface: 242, 232, 216;

  --ax-sys-color-surface-dark-surface: 211, 208, 203;
  --ax-sys-color-on-surface-dark-surface: 48, 45, 42;
  --ax-sys-color-border-surface-dark-surface: 195, 191, 184;

  --ax-sys-color-surface-darker-surface: 163, 160, 156;
  --ax-sys-color-on-surface-darker-surface: 255, 253, 249;
  --ax-sys-color-border-surface-darker-surface: 146, 142, 137;

  --ax-sys-color-surface-darkest-surface: 126, 124, 119;
  --ax-sys-color-on-surface-darkest-surface: 255, 253, 248;
  --ax-sys-color-border-surface-darkest-surface: 108, 106, 102;

  --ax-sys-color-accent-lightest-surface: 176, 255, 255;
  --ax-sys-color-on-accent-lightest-surface: 0, 56, 57;
  --ax-sys-color-border-accent-lightest-surface: 140, 255, 255;

  --ax-sys-color-accent-lighter-surface: 139, 250, 255;
  --ax-sys-color-on-accent-lighter-surface: 0, 56, 59;
  --ax-sys-color-border-accent-lighter-surface: 103, 248, 255;

  --ax-sys-color-accent-light-surface: 122, 233, 250;
  --ax-sys-color-on-accent-light-surface: 0, 55, 65;
  --ax-sys-color-border-accent-light-surface: 88, 227, 249;

  --ax-sys-color-accent-surface: 84, 198, 215;
  --ax-sys-color-on-accent-surface: 0, 55, 65;
  --ax-sys-color-border-accent-surface: 55, 188, 208;

  --ax-sys-color-accent-dark-surface: 51, 171, 188;
  --ax-sys-color-on-accent-dark-surface: 224, 255, 255;
  --ax-sys-color-border-accent-dark-surface: 43, 145, 160;

  --ax-sys-color-accent-darker-surface: 0, 139, 155;
  --ax-sys-color-on-accent-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent-darker-surface: 0, 107, 119;

  --ax-sys-color-accent-darkest-surface: 25, 113, 127;
  --ax-sys-color-on-accent-darkest-surface: 225, 255, 255;
  --ax-sys-color-border-accent-darkest-surface: 19, 86, 97;

  --ax-sys-color-accent2-lightest-surface: 157, 239, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 54, 66;
  --ax-sys-color-border-accent2-lightest-surface: 121, 233, 255;

  --ax-sys-color-accent2-lighter-surface: 133, 215, 236;
  --ax-sys-color-on-accent2-lighter-surface: 0, 54, 69;
  --ax-sys-color-border-accent2-lighter-surface: 102, 205, 231;

  --ax-sys-color-accent2-light-surface: 97, 178, 199;
  --ax-sys-color-on-accent2-light-surface: 0, 54, 69;
  --ax-sys-color-border-accent2-light-surface: 71, 165, 190;

  --ax-sys-color-accent2-surface: 3, 106, 125;
  --ax-sys-color-on-accent2-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-surface: 2, 76, 90;

  --ax-sys-color-accent2-dark-surface: 0, 96, 115;
  --ax-sys-color-on-accent2-dark-surface: 228, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 0, 66, 79;

  --ax-sys-color-accent2-darker-surface: 0, 85, 103;
  --ax-sys-color-on-accent2-darker-surface: 228, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 56, 67;

  --ax-sys-color-accent2-darkest-surface: 13, 75, 92;
  --ax-sys-color-on-accent2-darkest-surface: 230, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 9, 50, 61;

  --ax-sys-color-accent3-lightest-surface: 255, 212, 202;
  --ax-sys-color-on-accent3-lightest-surface: 68, 36, 29;
  --ax-sys-color-border-accent3-lightest-surface: 255, 183, 166;

  --ax-sys-color-accent3-lighter-surface: 255, 180, 166;
  --ax-sys-color-on-accent3-lighter-surface: 82, 23, 14;
  --ax-sys-color-border-accent3-lighter-surface: 255, 150, 130;

  --ax-sys-color-accent3-light-surface: 255, 123, 104;
  --ax-sys-color-on-accent3-light-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-light-surface: 255, 92, 68;

  --ax-sys-color-accent3-surface: 200, 29, 17;
  --ax-sys-color-on-accent3-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-surface: 167, 24, 14;

  --ax-sys-color-accent3-dark-surface: 185, 0, 0;
  --ax-sys-color-on-accent3-dark-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-dark-surface: 149, 0, 0;

  --ax-sys-color-accent3-darker-surface: 165, 0, 0;
  --ax-sys-color-on-accent3-darker-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darker-surface: 129, 0, 0;

  --ax-sys-color-accent3-darkest-surface: 140, 19, 12;
  --ax-sys-color-on-accent3-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darkest-surface: 107, 15, 9;

  --ax-sys-color-bg-default: var(--ax-sys-color-lightest-surface);
  --ax-sys-color-text-default: var(--ax-sys-color-on-lightest-surface);
  --ax-sys-color-border-default: var(--ax-sys-color-border-lightest-surface);
}

.dark:root {
  --ax-sys-scroller-track-color: rgba(var(--ax-sys-color-darker-surface));
  --ax-sys-scroller-thumb-color: rgba(var(--ax-sys-color-lightest-surface));

  --ax-sys-color-lightest-surface: 56, 56, 56;
  --ax-sys-color-on-lightest-surface: 245, 245, 245;
  --ax-sys-color-border-lightest-surface: 64, 64, 64;

  --ax-sys-color-lighter-surface: 49, 49, 49;
  --ax-sys-color-on-lighter-surface: 245, 245, 245;
  --ax-sys-color-border-lighter-surface: 56, 56, 56;

  --ax-sys-color-light-surface: 42, 42, 42;
  --ax-sys-color-on-light-surface: 245, 245, 245;
  --ax-sys-color-border-light-surface: 50, 50, 50;

  --ax-sys-color-surface: 33, 33, 33;
  --ax-sys-color-on-surface: 245, 245, 245;
  --ax-sys-color-border-surface: 44, 44, 44;

  --ax-sys-color-dark-surface: 27, 27, 27;
  --ax-sys-color-on-dark-surface: 245, 245, 245;
  --ax-sys-color-border-dark-surface: 38, 38, 38;

  --ax-sys-color-darker-surface: 20, 20, 20;
  --ax-sys-color-on-darker-surface: 245, 245, 245;
  --ax-sys-color-border-darker-surface: 32, 32, 32;

  --ax-sys-color-darkest-surface: 10, 10, 10;
  --ax-sys-color-on-darkest-surface: 245, 245, 245;
  --ax-sys-color-border-darkest-surface: 28, 28, 28;

  --ax-sys-color-primary-50: 197, 255, 249;
  --ax-sys-color-primary-100: 152, 255, 242;
  --ax-sys-color-primary-200: 122, 248, 226;
  --ax-sys-color-primary-300: 104, 231, 210;
  --ax-sys-color-primary-400: 85, 214, 194;
  --ax-sys-color-primary-500: 65, 198, 178;
  --ax-sys-color-primary-600: 42, 182, 162;
  --ax-sys-color-primary-700: 0, 166, 147;
  --ax-sys-color-primary-800: 0, 150, 132;
  --ax-sys-color-primary-900: 0, 135, 117;
  --ax-sys-color-primary-950: 0, 127, 110;

  --ax-sys-color-secondary-50: 209, 244, 254;
  --ax-sys-color-secondary-100: 191, 225, 236;
  --ax-sys-color-secondary-200: 157, 189, 200;
  --ax-sys-color-secondary-300: 123, 155, 165;
  --ax-sys-color-secondary-400: 91, 122, 131;
  --ax-sys-color-secondary-500: 60, 90, 99;
  --ax-sys-color-secondary-600: 30, 60, 68;
  --ax-sys-color-secondary-700: 2, 32, 40;
  --ax-sys-color-secondary-800: 4, 35, 43;
  --ax-sys-color-secondary-900: 6, 37, 45;
  --ax-sys-color-secondary-950: 8, 38, 47;

  --ax-sys-color-success-50: 210, 255, 233;
  --ax-sys-color-success-100: 180, 255, 219;
  --ax-sys-color-success-200: 115, 255, 191;
  --ax-sys-color-success-300: 99, 244, 178;
  --ax-sys-color-success-400: 82, 230, 164;
  --ax-sys-color-success-500: 64, 216, 151;
  --ax-sys-color-success-600: 42, 202, 138;
  --ax-sys-color-success-700: 1, 188, 125;
  --ax-sys-color-success-800: 0, 170, 108;
  --ax-sys-color-success-900: 0, 151, 91;
  --ax-sys-color-success-950: 0, 142, 85;

  --ax-sys-color-warning-50: 255, 245, 222;
  --ax-sys-color-warning-100: 255, 238, 208;
  --ax-sys-color-warning-200: 255, 224, 181;
  --ax-sys-color-warning-300: 255, 210, 152;
  --ax-sys-color-warning-400: 255, 195, 120;
  --ax-sys-color-warning-500: 255, 180, 82;
  --ax-sys-color-warning-600: 255, 165, 33;
  --ax-sys-color-warning-700: 253, 154, 1;
  --ax-sys-color-warning-800: 230, 133, 0;
  --ax-sys-color-warning-900: 203, 114, 0;
  --ax-sys-color-warning-950: 190, 105, 0;

  --ax-sys-color-danger-50: 255, 235, 229;
  --ax-sys-color-danger-100: 255, 220, 211;
  --ax-sys-color-danger-200: 255, 188, 175;
  --ax-sys-color-danger-300: 255, 154, 136;
  --ax-sys-color-danger-400: 255, 113, 94;
  --ax-sys-color-danger-500: 248, 83, 65;
  --ax-sys-color-danger-600: 224, 59, 43;
  --ax-sys-color-danger-700: 200, 29, 17;
  --ax-sys-color-danger-800: 188, 3, 0;
  --ax-sys-color-danger-900: 176, 0, 0;
  --ax-sys-color-danger-950: 170, 0, 0;

  --ax-sys-color-surface-50: 237, 237, 237;
  --ax-sys-color-surface-100: 219, 219, 219;
  --ax-sys-color-surface-200: 185, 185, 185;
  --ax-sys-color-surface-300: 151, 151, 151;
  --ax-sys-color-surface-400: 119, 119, 119;
  --ax-sys-color-surface-500: 89, 89, 89;
  --ax-sys-color-surface-600: 60, 60, 60;
  --ax-sys-color-surface-700: 33, 33, 33;
  --ax-sys-color-surface-800: 35, 35, 35;
  --ax-sys-color-surface-900: 37, 37, 37;
  --ax-sys-color-surface-950: 37, 37, 37;

  --ax-sys-color-accent-50: 208, 255, 255;
  --ax-sys-color-accent-100: 187, 255, 255;
  --ax-sys-color-accent-200: 146, 252, 255;
  --ax-sys-color-accent-300: 131, 242, 255;
  --ax-sys-color-accent-400: 119, 231, 248;
  --ax-sys-color-accent-500: 108, 220, 237;
  --ax-sys-color-accent-600: 96, 209, 226;
  --ax-sys-color-accent-700: 84, 198, 215;
  --ax-sys-color-accent-800: 58, 177, 193;
  --ax-sys-color-accent-900: 25, 155, 172;
  --ax-sys-color-accent-950: 0, 145, 162;

  --ax-sys-color-accent2-50: 196, 254, 255;
  --ax-sys-color-accent2-100: 163, 246, 255;
  --ax-sys-color-accent2-200: 139, 221, 242;
  --ax-sys-color-accent2-300: 115, 197, 218;
  --ax-sys-color-accent2-400: 91, 173, 194;
  --ax-sys-color-accent2-500: 67, 150, 170;
  --ax-sys-color-accent2-600: 41, 128, 147;
  --ax-sys-color-accent2-700: 3, 106, 125;
  --ax-sys-color-accent2-800: 0, 98, 117;
  --ax-sys-color-accent2-900: 0, 91, 110;
  --ax-sys-color-accent2-950: 0, 87, 106;

  --ax-sys-color-accent3-50: 255, 235, 229;
  --ax-sys-color-accent3-100: 255, 220, 211;
  --ax-sys-color-accent3-200: 255, 188, 175;
  --ax-sys-color-accent3-300: 255, 154, 136;
  --ax-sys-color-accent3-400: 255, 113, 94;
  --ax-sys-color-accent3-500: 248, 83, 65;
  --ax-sys-color-accent3-600: 224, 59, 43;
  --ax-sys-color-accent3-700: 200, 29, 17;
  --ax-sys-color-accent3-800: 188, 3, 0;
  --ax-sys-color-accent3-900: 176, 0, 0;
  --ax-sys-color-accent3-950: 170, 0, 0;

  --ax-sys-color-primary-lightest-surface: 205, 244, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 26, 34;
  --ax-sys-color-border-primary-lightest-surface: 251, 254, 255;

  --ax-sys-color-primary-lighter-surface: 187, 225, 241;
  --ax-sys-color-on-primary-lighter-surface: 0, 26, 37;
  --ax-sys-color-border-primary-lighter-surface: 225, 242, 249;

  --ax-sys-color-primary-light-surface: 169, 207, 222;
  --ax-sys-color-on-primary-light-surface: 0, 26, 37;
  --ax-sys-color-border-primary-light-surface: 202, 226, 235;

  --ax-sys-color-primary-surface: 134, 171, 186;
  --ax-sys-color-on-primary-surface: 0, 26, 37;
  --ax-sys-color-border-primary-surface: 163, 191, 203;

  --ax-sys-color-primary-dark-surface: 118, 154, 168;
  --ax-sys-color-on-primary-dark-surface: 0, 26, 37;
  --ax-sys-color-border-primary-dark-surface: 146, 175, 186;

  --ax-sys-color-primary-darker-surface: 101, 137, 151;
  --ax-sys-color-on-primary-darker-surface: 0, 26, 37;
  --ax-sys-color-border-primary-darker-surface: 128, 158, 170;

  --ax-sys-color-primary-darkest-surface: 88, 124, 138;
  --ax-sys-color-on-primary-darkest-surface: 0, 26, 37;
  --ax-sys-color-border-primary-darkest-surface: 110, 148, 162;

  --ax-sys-color-secondary-lightest-surface: 255, 235, 188;
  --ax-sys-color-on-secondary-lightest-surface: 33, 19, 0;
  --ax-sys-color-border-secondary-lightest-surface: 255, 249, 234;

  --ax-sys-color-secondary-lighter-surface: 255, 216, 143;
  --ax-sys-color-on-secondary-lighter-surface: 35, 18, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 232, 189;

  --ax-sys-color-secondary-light-surface: 255, 199, 108;
  --ax-sys-color-on-secondary-light-surface: 37, 17, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 216, 154;

  --ax-sys-color-secondary-surface: 232, 171, 79;
  --ax-sys-color-on-secondary-surface: 38, 16, 0;
  --ax-sys-color-border-secondary-surface: 237, 190, 120;

  --ax-sys-color-secondary-dark-surface: 217, 158, 63;
  --ax-sys-color-on-secondary-dark-surface: 37, 16, 0;
  --ax-sys-color-border-secondary-dark-surface: 225, 177, 101;

  --ax-sys-color-secondary-darker-surface: 203, 144, 47;
  --ax-sys-color-on-secondary-darker-surface: 37, 16, 0;
  --ax-sys-color-border-secondary-darker-surface: 215, 164, 81;

  --ax-sys-color-secondary-darkest-surface: 185, 127, 20;
  --ax-sys-color-on-secondary-darkest-surface: 255, 250, 224;
  --ax-sys-color-border-secondary-darkest-surface: 226, 155, 24;

  --ax-sys-color-success-lightest-surface: 180, 255, 219;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 13;
  --ax-sys-color-border-success-lightest-surface: 226, 255, 241;

  --ax-sys-color-success-lighter-surface: 115, 255, 191;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 11;
  --ax-sys-color-border-success-lighter-surface: 161, 255, 212;

  --ax-sys-color-success-light-surface: 99, 244, 178;
  --ax-sys-color-on-success-light-surface: 0, 31, 10;
  --ax-sys-color-border-success-light-surface: 142, 247, 199;

  --ax-sys-color-success-surface: 64, 216, 151;
  --ax-sys-color-on-success-surface: 0, 31, 10;
  --ax-sys-color-border-success-surface: 102, 224, 172;

  --ax-sys-color-success-dark-surface: 42, 202, 138;
  --ax-sys-color-on-success-dark-surface: 0, 31, 10;
  --ax-sys-color-border-success-dark-surface: 73, 217, 159;

  --ax-sys-color-success-darker-surface: 1, 188, 125;
  --ax-sys-color-on-success-darker-surface: 0, 31, 10;
  --ax-sys-color-border-success-darker-surface: 1, 234, 155;

  --ax-sys-color-success-darkest-surface: 0, 170, 108;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 8;
  --ax-sys-color-border-success-darkest-surface: 0, 216, 137;

  --ax-sys-color-warning-lightest-surface: 255, 238, 208;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 255, 254;

  --ax-sys-color-warning-lighter-surface: 255, 224, 181;
  --ax-sys-color-on-warning-lighter-surface: 37, 16, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 243, 227;

  --ax-sys-color-warning-light-surface: 255, 210, 152;
  --ax-sys-color-on-warning-light-surface: 38, 16, 0;
  --ax-sys-color-border-warning-light-surface: 255, 230, 198;

  --ax-sys-color-warning-surface: 255, 180, 82;
  --ax-sys-color-on-warning-surface: 39, 15, 0;
  --ax-sys-color-border-warning-surface: 255, 200, 128;

  --ax-sys-color-warning-dark-surface: 255, 165, 33;
  --ax-sys-color-on-warning-dark-surface: 40, 14, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 184, 79;

  --ax-sys-color-warning-darker-surface: 253, 154, 1;
  --ax-sys-color-on-warning-darker-surface: 41, 13, 0;
  --ax-sys-color-border-warning-darker-surface: 254, 172, 46;

  --ax-sys-color-warning-darkest-surface: 230, 133, 0;
  --ax-sys-color-on-warning-darkest-surface: 42, 12, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 156, 21;

  --ax-sys-color-danger-lightest-surface: 255, 220, 211;
  --ax-sys-color-on-danger-lightest-surface: 38, 14, 9;
  --ax-sys-color-border-danger-lightest-surface: 255, 255, 255;

  --ax-sys-color-danger-lighter-surface: 255, 188, 175;
  --ax-sys-color-on-danger-lighter-surface: 50, 1, 0;
  --ax-sys-color-border-danger-lighter-surface: 255, 226, 221;

  --ax-sys-color-danger-light-surface: 255, 154, 136;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 193, 182;

  --ax-sys-color-danger-surface: 248, 83, 65;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 250, 123, 109;

  --ax-sys-color-danger-dark-surface: 224, 59, 43;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 230, 96, 83;

  --ax-sys-color-danger-darker-surface: 200, 29, 17;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 236, 41, 27;

  --ax-sys-color-danger-darkest-surface: 188, 3, 0;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 234, 4, 0;

  --ax-sys-color-surface-lightest-surface: 219, 219, 219;
  --ax-sys-color-on-surface-lightest-surface: 22, 22, 22;
  --ax-sys-color-border-surface-lightest-surface: 242, 242, 242;

  --ax-sys-color-surface-lighter-surface: 185, 185, 185;
  --ax-sys-color-on-surface-lighter-surface: 22, 22, 22;
  --ax-sys-color-border-surface-lighter-surface: 208, 208, 208;

  --ax-sys-color-surface-light-surface: 151, 151, 151;
  --ax-sys-color-on-surface-light-surface: 22, 22, 22;
  --ax-sys-color-border-surface-light-surface: 174, 174, 174;

  --ax-sys-color-surface-surface: 89, 89, 89;
  --ax-sys-color-on-surface-surface: 253, 253, 253;
  --ax-sys-color-border-surface-surface: 112, 112, 112;

  --ax-sys-color-surface-dark-surface: 60, 60, 60;
  --ax-sys-color-on-surface-dark-surface: 253, 253, 253;
  --ax-sys-color-border-surface-dark-surface: 83, 83, 83;

  --ax-sys-color-surface-darker-surface: 33, 33, 33;
  --ax-sys-color-on-surface-darker-surface: 253, 253, 253;
  --ax-sys-color-border-surface-darker-surface: 56, 56, 56;

  --ax-sys-color-surface-darkest-surface: 35, 35, 35;
  --ax-sys-color-on-surface-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-surface-darkest-surface: 58, 58, 58;

  --ax-sys-color-accent-lightest-surface: 187, 255, 255;
  --ax-sys-color-on-accent-lightest-surface: 0, 29, 30;
  --ax-sys-color-border-accent-lightest-surface: 233, 255, 255;

  --ax-sys-color-accent-lighter-surface: 146, 252, 255;
  --ax-sys-color-on-accent-lighter-surface: 0, 29, 31;
  --ax-sys-color-border-accent-lighter-surface: 192, 253, 255;

  --ax-sys-color-accent-light-surface: 131, 242, 255;
  --ax-sys-color-on-accent-light-surface: 0, 28, 34;
  --ax-sys-color-border-accent-light-surface: 177, 247, 255;

  --ax-sys-color-accent-surface: 108, 220, 237;
  --ax-sys-color-on-accent-surface: 0, 28, 35;
  --ax-sys-color-border-accent-surface: 149, 230, 242;

  --ax-sys-color-accent-dark-surface: 96, 209, 226;
  --ax-sys-color-on-accent-dark-surface: 0, 28, 35;
  --ax-sys-color-border-accent-dark-surface: 135, 220, 233;

  --ax-sys-color-accent-darker-surface: 84, 198, 215;
  --ax-sys-color-on-accent-darker-surface: 0, 28, 35;
  --ax-sys-color-border-accent-darker-surface: 121, 210, 224;

  --ax-sys-color-accent-darkest-surface: 58, 177, 193;
  --ax-sys-color-on-accent-darkest-surface: 0, 28, 35;
  --ax-sys-color-border-accent-darkest-surface: 91, 192, 206;

  --ax-sys-color-accent2-lightest-surface: 163, 246, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 28, 33;
  --ax-sys-color-border-accent2-lightest-surface: 209, 250, 255;

  --ax-sys-color-accent2-lighter-surface: 139, 221, 242;
  --ax-sys-color-on-accent2-lighter-surface: 0, 27, 38;
  --ax-sys-color-border-accent2-lighter-surface: 180, 233, 247;

  --ax-sys-color-accent2-light-surface: 115, 197, 218;
  --ax-sys-color-on-accent2-light-surface: 0, 27, 38;
  --ax-sys-color-border-accent2-light-surface: 151, 212, 228;

  --ax-sys-color-accent2-surface: 67, 150, 170;
  --ax-sys-color-on-accent2-surface: 0, 27, 38;
  --ax-sys-color-border-accent2-surface: 92, 172, 191;

  --ax-sys-color-accent2-dark-surface: 41, 128, 147;
  --ax-sys-color-on-accent2-dark-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 51, 159, 183;

  --ax-sys-color-accent2-darker-surface: 3, 106, 125;
  --ax-sys-color-on-accent2-darker-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 4, 144, 170;

  --ax-sys-color-accent2-darkest-surface: 0, 98, 117;
  --ax-sys-color-on-accent2-darkest-surface: 228, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 0, 136, 163;

  --ax-sys-color-accent3-lightest-surface: 255, 220, 211;
  --ax-sys-color-on-accent3-lightest-surface: 38, 14, 9;
  --ax-sys-color-border-accent3-lightest-surface: 255, 255, 255;

  --ax-sys-color-accent3-lighter-surface: 255, 188, 175;
  --ax-sys-color-on-accent3-lighter-surface: 50, 1, 0;
  --ax-sys-color-border-accent3-lighter-surface: 255, 226, 221;

  --ax-sys-color-accent3-light-surface: 255, 154, 136;
  --ax-sys-color-on-accent3-light-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-light-surface: 255, 193, 182;

  --ax-sys-color-accent3-surface: 248, 83, 65;
  --ax-sys-color-on-accent3-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-surface: 250, 123, 109;

  --ax-sys-color-accent3-dark-surface: 224, 59, 43;
  --ax-sys-color-on-accent3-dark-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-dark-surface: 230, 96, 83;

  --ax-sys-color-accent3-darker-surface: 200, 29, 17;
  --ax-sys-color-on-accent3-darker-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darker-surface: 236, 41, 27;

  --ax-sys-color-accent3-darkest-surface: 188, 3, 0;
  --ax-sys-color-on-accent3-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darkest-surface: 234, 4, 0;

}