@import 'tailwindcss';

@import './assets/font/index.css';

@import '@acorex/styles/index.css';
@import '@acorex/styles/icons/fontawesome/index.css';

@import './assets/themes/core.css';
@import './assets/themes/one.css';
/*@import './assets/themes/two.css'; */
/* @import './assets/themes/three.css'; */

@source "../../../node_modules/@acorex";

html,
body {
  /* font-family: 'BalooDa'; */
  touch-action: manipulation;
  direction: rtl;
  @apply surface h-dvh  w-full overflow-hidden md:mx-auto! md:w-100! md:rounded-2xl md:border dark:surface;
}

.ltr {
  direction: ltr;
  unicode-bidi: embed;
  text-align: left;
}
.ax-popup {
  @apply rounded-default! surface! dark:darkest-surface mx-auto flex w-auto flex-col overflow-hidden border p-0 outline-2 outline-offset-2 outline-transparent;
}
